/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

{
    font-family: arial;
}

/* Sets the background image for the wheel */
.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

#choicesel, #result{
	display:none;
}

.setsels{
	text-align:center;
	border: solid;
	border-width:1px;
	background-color:darkgreen;
	color:white;
	width:5vw;
	height:60px;
}

.selected{
	background-color:#00ff00;
	color:black;
}